.launch {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
}
.launch-fuel {
    grid-area: 1 / 1 / 2 / 2;
}
.launch-cost{
    grid-area: 1 / 1 / 2 / 2;
    font-size: 50px;
    margin-top:10px;
    color:white;
    font-style: normal;
    text-shadow:-1px -1px 0 #222,1px -1px 0 #222,-1px 1px 0 #222,1px 1px 0 #222;
}
.launch-arrow {
    margin-left: 20px;
    margin-top: 30px;
    color:white;
    font-style: normal;
    text-shadow:-1px -1px 0 #222,1px -1px 0 #222,-1px 1px 0 #222,1px 1px 0 #222;
}
.food{
    background-color:#0a0;
    border: solid 5px #060;
    color:#ffffff;
    width:43px;
    height:43px;
    text-align:center;
    display:inline-block;
    line-height: 1;
}
.water{
    background-color:#00a;
    border: solid 5px #006;
    color:#ffffff;
    width:43px;
    height:43px;
    text-align:center;
    display:inline-block;
    line-height: 1;
}
.fuel{
    background-color:#a00;
    border: solid 5px #600;
    color:#ffffff;
    width:43px;
    height:43px;
    text-align:center;
    display:inline-block;
    line-height: 1;
}
.metal{
    background-color:#aaa;
    border: solid 5px #666;
    color:#ffffff;
    width:43px;
    height:43px;
    text-align:center;
    display:inline-block;
    line-height: 1;
}
.coin{
    width: 40px;
    height: 40px;
    background: yellow;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    border: solid 3px #cc0;
    line-height: 1;
}
.scoring-marker{
    background-color:#FFFFFF;
    border: solid 5px #777;
    font-size:100px;
    color:#333;
    margin: 20px;
    text-align:center;
    height:180px;
    line-height:180px;  
}
.columns .victory-marker{
    text-align:center;
    height: 180px;
    width: 180px;
    margin:20px 20px 20px 20px;
    float:none;
}
.columns .victory-marker .cost{
    margin-top:38px;
}
.scoring-track {
    font-size:0.8em;
}
body{
    font-size:31px;
}
.card-section{
    padding-top:0px;
}
@font-face {
    font-family: quicksand;
    src: url('/Quicksand_Book.otf') format("opentype");
}
* {
    font-family: quicksand !important;
    letter-spacing:-0.05em !important;
}
.cost{
  color:white;
  font-style: normal;
  text-shadow:-1px -1px 0 #222,1px -1px 0 #222,-1px 1px 0 #222,1px 1px 0 #222;
  margin-top:2px;
}
.exo-coin + .cost {
    margin-left:1px;
}
.fa-stack{
    line-height: 45px;
    height:45px;
    width:45px;
    float:right;
}
h3 span.fa-stack, li span.fa-stack{
    float:none;
}
.site-bonus{
    font-size:2.4em;
    line-height: 75px;
    width: 75px;
}

#canvas_wrapper{
    position:relative;
}

.glow{
    width:100%;
    box-shadow:
        0 0 5px #fff,           /*  outer white */
        -10px 0 20px #5290c6,        /* outer left magenta */
        10px 0 20px #5290c6;
    background: 
    linear-gradient(#c4cfd6,#c4cfd6) padding-box,
    linear-gradient(to bottom, #00ffc6, #18b4b2) border-box;
    padding:10px;
    border: 5px solid transparent;
    border-radius:25px;
    display:inline-block;
}


#legend, #legend tr {
    font-size:26pt;
    background-color:#c4cfd6;
    padding: 0px;
    border:none;
}
#legend td {
    border-bottom: 1px solid #aaa;
    padding: 0px;
}
#legend tr td:nth-child(3) {
    color:gray;
}
#legend .fa-stack {
    float:none;
}