/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/img/cards/actions/*
/public/img/cards/asteroids/*
/public/img/cards/card-backs/*
/public/img/cards/dwarf-planets/*
/public/img/cards/factions/*
/public/img/cards/habitable-worlds/*
/public/img/cards/lifeforms/*
/public/img/cards/moons/*
/public/img/cards/planets/*
/public/img/cards/reference-cards/*
/public/img/cards/stars/*
/public/img/print-cards/actions/*
/public/img/print-cards/asteroids/*
/public/img/print-cards/card-backs/*
/public/img/print-cards/dwarf-planets/*
/public/img/print-cards/factions/*
/public/img/print-cards/habitable-worlds/*
/public/img/print-cards/lifeforms/*
/public/img/print-cards/moons/*
/public/img/print-cards/planets/*
/public/img/print-cards/reference-cards/*
/public/img/print-cards/stars/*
